body {
    background: #edf0f5;
  }
  
  .contain {
    position: relative;
    min-width: 700px;
    max-width: 1024px;
    margin: auto;
  }
 
  header {
    height: 80px;
    line-height: 80px;
    color: #fff;
    background: #3c5a96;
  }
  header h1 {
    margin: 0;
    line-height: 100px;
    font-size: 36px;
    display: inline-block;
  }
  header form {
    float: right;
  }
  header form .sign {
    position: relative;
    line-height: normal;
    display: inline-block;
  }
  header form .sign input[type="text"],
  header form .sign input[type="password"] {
    vertical-align: middle;
    width: 140px;
    border: 1px solid #163981;
  }
  header form .sign input[type="submit"] {
    background: #4469b0;
    color: #fff;
    height: 22px;
    font-size: 12px;
    border: 1px solid #2a497b;
  }
  header form .sign label {
    position: absolute;
    top: -90%;
    font-size: 12px;
    left: 0;
  }
  header form .sign a {
    position: absolute;
    top: 110%;
    font-size: 12px;
    left: 0;
    color: #9cabc3;
  }
  
  main {
    display: flex;
  }
  main .article {
    flex: 1
  }
  main .signUp {
    width: 360px;
  }
  
  main .article h2 {
    padding: 60px 0 20px;
    width: 460px;
  }
  
  footer {
    position: fixed;
    height: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 10px 0;
  }
  footer a {
    color: #4469b0;
    font-size: 12px;
    margin-right: 15px;
  }
  a {
    text-decoration: none;
    color: #395996;
  }
  input.full {
    width: 100%;
  }
  